---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "red-chart.fullname" . }}
  namespace: {{ .Values.namespace.name | quote }}
  labels:
    {{- include "red-chart.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
      protocol: TCP
      name: http
  selector:
    {{- include "red-chart.selectorLabels" . | nindent 4 }}